@charset "UTF-8";
/*********** основные ************/
.m0a {
  margin: 0 auto;
}

.mp0 {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  background-color: #dcdcdc;
}

.visible_block {
  display: block !important;
}

#wrapper {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  margin: 0 auto;
}

#materialy {
  display: flex;
}

#materialy > div {
  width: 50%;
  outline: solid thin blue;
}

.material {
  display: flex;
  flex-wrap: wrap;
}

.material .elem {
  width: 100px;
  height: 100px;
  outline: solid thin green;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.mt10 {
  margin-top: 10px;
}
